.header {
  text-align: center;
  color: #fff;
  height: 10vh;
  background: #fff;
  border:2px solid #F7F7F7;
  border-left:0;
  border-right:0;
  box-shadow: 0 .5px 3px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index:1
}

.title {
  text-align: center;
  height: 100%;
  margin: 0;
  font-size:20px !important;
  color : #1F1F1F;
  vertical-align: middle;
  line-height:3em !important;
}

.content {
  text-align: center;
  height: 90vh;
  width: 60vw;
  background-color: #fff;
  border: 2px solid #F7F7F7;
  border-top: 0;
  border-bottom: 0;
}

.side {
  text-align: center;
  line-height: 120px;
  width: 40vw !important;
  background-color: #fff !important;
  border:1px solid #F7F7F7;
  border-top:0;
  border-bottom:0;
}
